aiohttp==3.8.5
aiosignal==1.3.1
astroid==2.15.6
async-timeout==4.0.3
attrs==23.1.0
blinker==1.6.2
certifi==2023.7.22
charset-normalizer==3.2.0
click==8.1.7
dill==0.3.7
exceptiongroup==1.1.3
Flask==2.3.3
frozenlist==1.4.0
idna==3.4
inflection==0.5.1
iniconfig==2.0.0
isort==5.12.0
itsdangerous==2.1.2
Jinja2==3.1.2
jsonschema==4.19.0
jsonschema-specifications==2023.7.1
lazy-object-proxy==1.9.0
MarkupSafe==2.1.3
mccabe==0.7.0
multidict==6.0.4
openai==0.28.0
openapi==1.1.0
packaging==23.1
platformdirs==3.10.0
pluggy==1.3.0
pylint==2.17.5
pytest==7.4.2
referencing==0.30.2
requests==2.31.0
rpds-py==0.10.0
tomli==2.0.1
tomlkit==0.12.1
tqdm==4.66.1
typing_extensions==4.7.1
urllib3==2.0.4
Werkzeug==2.3.7
wrapt==1.15.0
yarl==1.9.2
