<html>
<head>
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
</head>

<!--
A form that inputs data
Take data
Feed into Chat GPT API
Paste data into website
Display data
--> 


<title>
    quayside MVP
</title>
<body>
    <form class="w-full max-w-sm" action="/process" method="POST">
        <div class="flex items-center border-b border-teal-500 py-2">
          <input class="appearance-none bg-transparent border-none w-full text-gray-700 mr-3 py-1 px-2 leading-tight focus:outline-none" type="text" placeholder="What's your project?" aria-label="Full name" name="prompt">         
          <button class="flex-shrink-0 bg-teal-500 hover:bg-teal-700 border-teal-500 hover:border-teal-700 text-sm border-4 text-white py-1 px-2 rounded" type="submit">
            Process
          </button>

        </div>
      </form>

</body>


</html>